/* место для вашего кода */

.content-section {
    width: 1440px;
    margin: auto;
    min-height: 100px;
}

.header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    padding: 92px 49px 92px 51px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style-type: circle;
    gap: 33px;
    margin-top: -11px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    text-underline-offset: 3px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 135px;
    height: 75px;
    margin: -44px 148px 0px 0px;
}

.address {
    width: 240px;
    height: 97px;
    font-style: normal;
}

.header__address {
    white-space: pre-line;
    margin-top: -25px;
}

.cover {
    padding: 92px 0px 0px 0px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -100;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0px;
    z-index: -1;
}

.cover__title {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 82px;
    line-height: 115%;
}

.aligned-text {
    display: block;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 30px;
    line-height: 1;
}

.aligned-text_center {
    text-align: center;
    margin-top: 25px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 22px;
}

.letter-spacing-extended-start-word {
    letter-spacing: 7px;
}

.letter-spacing-extended-center-word {
    margin-left: 29px;
    margin-right: 29px;
}

.letter-spacing-extended-end-word {
    margin-right: -31px;
    margin-left: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    display: inline-block;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 137px 50px 50px 422px;
}

.cover__description-text {
    word-spacing: 18px;
    margin-right: 71px;
}

.bet-button {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    width: 257px;
    height: 52px;
    margin-top: -3px;
}

.lots {
    background-color: #FFF;
    padding: 180px 50px 181px;
}

.lots__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card {
    width: 430px;
    height: 450px;
    position: relative;
    z-index: 0;
    bottom: 0px;
    align-items: end;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 50px 40px 0px;
    text-underline-offset: 3px;
}

.card__text {
    color: #FFF;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin: 30px 40px 0px;
    bottom: 50px;
}

.lots__look-more-link {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
}

.about {
    background-color: #FFF;
    display: grid;
    grid-template-columns: 430px 885px;
    grid-template-rows: 405px;
    background-color: #FFF;
    padding: 181px 50px 180px;
    gap: 25px;
    padding-top: 0;
}

.about__logo {
    display: block;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 150px;
    margin-left: 95px;
}

.about__logo-image {
    margin: 63px 46px;
    width: 148px;
    height: 114px;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 100px;
}

div .about__text p {
    margin-top: 25px;
}

.footer {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 51px 90px 49px;
}

.footer__menu {
    text-align: center;
    margin-top: -43px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    width: 240px;
    height: 48px;
    list-style: none;
    margin-top: -55px;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    height: 48px;
}